@media only screen and (max-width: 2500px) {


.about-container{
    background-color: #EB734A;
    color: #f0d3a7;
    margin-top: 100px;
    max-height: 75vh;
}
.products{
    background-color: #412F2D;
    border-color: #f0d3a7;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 9%;
}

.products h1{
    margin-left: 15px;
}

.product-list {

    text-align: center;
  }

  .products {
    width: 40%;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .product-list {
    display: flex;
    animation: carousel-animation 10s linear infinite alternate; /* Adjust animation duration as needed */
}
  
  .product-list div {
    flex: 0 0 auto;
    width: 150px; /* Adjust item width as needed */
    text-align: center;
  }
  
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-175%);
    }
  }
  
  
  .product-list p {
    font-size: 1.2rem;
  }

  .about-icon{
    color:#ea714d;
    font-size: 2rem;
  }

.text-about{
    background-color: #412F2D;
    border-color: #f0d3a7;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    width: 30%;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 60px;
    margin-top: 40px;
    z-index: 5;
}

.text-about p{
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: justify;
}

.text-about span{
    color: #ea714d;
}
.about-img{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(60px);
}
} 

@media only screen and (max-width: 450px) {
    .left-pressure-about img{
        width: 200px;
        margin-left: 0px;


    }
    .right-pressure-about img{
        width: 200px;
    }
    .text-about{
        background-color: #412F2D;
        border-color: white;
        border-width: 5px;
        border-style: solid;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 75%;
        padding: 20px;
        overflow: scroll;
        height: 55vh;
    }
}