@media only screen and (max-width: 2500px) {
  .contact-container {
    border: solid 5px #76bbff;
    border-radius: 10px;
    height: 60vh;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(167, 180, 211, 0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    color: #edf5e1;
    font-family: monospace;
    overflow: scroll;
    text-align: center;
  }
  .contact-container h1 {
    font-family: monospace;
    text-transform: uppercase;
    margin-top: 3%;
    letter-spacing: 0.03rem;
    font-size: 32px;
  }

  .contact-container label {
    font-size: 16px;
    color: #edf5e1;
    font-weight: bold;
    letter-spacing: 0.03rem;
  }
  .contact-form {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form input {
    width: 375px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    border-style: none;
    border-radius: 5px;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-form textarea {
    width: 375px;
    height: 100px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    border-style: none;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input::placeholder {
    color: grey;
    transition: color 0.3s ease;
  }

  .send-btn {
    border-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 12px 30px 12px 30px;
    color: #76bbff;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    background-color: #010102;
    transition: linear 0.3s;
    font-weight: bold;
  }

  .send-btn:hover {
    color: #010102;
    background-color: #76bbff;
    box-shadow: 0 0 10px #76bbff, 0 0 20px #76bbff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .contact-form textarea {
    width: 200px;
  }
  .contact-form input {
    width: 200px;
  }
  .contact-form {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  .contact-container {
    border: solid 5px #76bbff;
    border-radius: 5px;
    height: 65vh;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact-container h1 {
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
