#gal-title {
  color: #edf5e1;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03rem;
}

.gallery-container {
  padding: 18px 18px;
  margin-bottom: 20px;
}

.gallery-container img {
  margin: 0 auto;
  background-size: auto;
  width: 97%;
  height: 450px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #76bbff;
}
