@media only screen and (max-width: 2500px) {
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh; /* Full height of the viewport */
    overflow: hidden;
  }
  
  .home-content {
    flex: 1; /* Take up the other half of the available space */
  }
  .image {
    flex: 1;
    transform: translateX(150px);
    z-index: -2;
  }
  
  .home-title {
    text-align: left;
    margin-top: 250px;
  }
  
  
  .title1 {
    color: #F0D3A7;
    font-size: calc(10vw + 10vh);
    margin: 0;
  }
  
  .title2 {
    margin-left: 200px;
    font-size: calc(10vw + 10vh);
    color: #412F2D;
    margin-top: -0.4em; /* Adjust margin to decrease the gap */

  }
  
  .title2 span {
    color: #F0D3A7; /* Adjust the color of the dot */
  }
  
  .home-image {
    width: 85%; /* Ensure the image fills its container */
  }
}

@media only screen and (max-width: 480px) {
  .home-container {
    width: 100%;
    color: #F0D3A7;
  }
  .home-title {
    font-size: 7rem;
    position: fixed;
    top: 4%;
    right: 12%;
    z-index: -1;
  }
  .home-title h1 {
    font-size: 6.5rem;
    text-transform: uppercase;
    z-index: -1;
  }
  .home-image{
    width: 350px;
  }
}
