@media only screen and (max-width: 2500px) {
  .nav {
    position: relative;
    background-color: #412F2D;
    top: 0;
    height: 70px;
    border-style: solid;
    border-color: #F0D3A7;
    border-width: 0px 0px 2px 0px;
    display: flex;
    justify-content: space-between;
    text-align: left; /* Updated */
    padding: 10px;
    color: #F0D3A7;
    letter-spacing: 0.03rem;
    z-index: 10;
  }

  .nav-logo{
    height: 80px;
  }
  
  .site-title {
    padding-left: 20px;
  }

  .nav-title {
    font-size: 2.5rem;
    color: #F0D3A7;
    font-weight: bold;
    transition: .3s ease;
  }
  .nav-title:hover {
    color: #EB734A;
  }

  .period {
    color: #F0D3A7;
  }

  .desktop-nav {
    padding: 0;
    margin: 0;
    font-size: smaller;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 50px;
  }

  .nav a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
  }

  .nav li {
    padding-right: 12px;
    font-size: larger;
    font-weight: bold;

    margin: 0 -0.25rem;
    padding: 0 0.2rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  @media (hover: hover) and (pointer: fine) {
    .nav li {
      color: #F0D3A7;
      box-shadow: inset 0 0 0 0 #F0D3A7;
    }
    .nav li:hover {
      color: #EB734A;
    }

    .nav li.active {
      color: #EB734A;
    }
  }

  .quality {
    color: #ea714d;
  }

  .invisible {
    display: none;
  }
  .hamburger {
    display: none;
  }
}



@media only screen and (max-width: 480px) {
  .footer {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .nav {
    padding: none;
    overflow: hidden;
    background-color: #412F2D;
  }

  .hamburger {
    display: contents;
  }


  /*        MOBILE NAV            */

  .mobile-nav {
    position: sticky;
    background-color: inherit;
    height: 22vh;
    margin-top: 60px;
    animation: downDrop 0.3s linear;
    padding: 0 0 0 0;
    background-color: #412F2D;
  }

  .mobile-nav li {
    list-style-type: disclosure-open;
    width: 140px;
    padding-top: 15px;
    border-style: solid;
    font-size: 18px;
    border-color: #F0D3A7;
    border-width: 0 0px 2px 0px;
  }

  .hamburger-react{
top: 0;
right: 0;
position: absolute !important;
  }
  .mobile-nav a {
    text-decoration: none;
  }

  @keyframes downDrop {
    0% {
      top: 0px;
      height: 0;
    }
    100% {
      top: 68px;
      height: 20vh;
    }
  }

  .nav-title {
    font-size: 2rem;
    margin-left: 0;
    padding-left: 0;
  }

  .site-title {
    padding-left: 0;
  }
}
