@media only screen and (max-width: 2500px) {

    .service-container1{
        justify-content: center;
        height: 100vh;
        overflow: hidden;
    }

    .service-container{
    display: flex;
    text-align: center;
    color: #F0D3A7;
    justify-content: space-around;
    width: 50%;
    height: 40vh;
    margin: auto;
    margin-top: 350px;
}

.title-container {
    text-align: center; /* Center the text */
    margin-top: 150px; /* Adjust margin as needed */
    z-index: 1; /* Ensure the title is on top */
    position: absolute; /* Position the title absolutely */
    left: 0;
    width: 50%; /* Ensure the title spans the full width */
    top: 0; /* Position the title at the top of the container */
    display: block; /* Use flexbox for layout */ 
    margin-left: 100px;

  }
  
  .title-container h1 {
    font-size: 5rem; /* Adjust font size as needed */
    color: #F9f1cc;
    margin-bottom: 0px; /* Text color */
  }
  .title-container h2 {
    color: #F0D3A7;
    margin-bottom: 0px;
    letter-spacing: 15px; /* Adjust the value as needed */

    /* Text color */
  }
  .buzz-title{
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 0.3em;
    color: #F9f1cc;
    text-shadow: 5px 5px 0px #FFB650, 
      4px 4px 0px #FFD662, 
      8px 8px 0px  #de7747, 
      12px 12px 0px #ef5050, 
      16px 16px 0px #563424, 
      20px 20px 0px #ffab88;
  }

.button-div button{
    border-style: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #F0D3A7;
    background-color: #212022;
    padding: 20px;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

.button-div button:hover{
    cursor: pointer;
}

.top-div{
    display: flex;
}
.service-img{
    width: 40%;
}
.service-img img{
    margin-top: 100px;
    width: 100%;    
}
.service-div{
    display: flex;
    border-radius: 10px 10px 100px 10px;
    border: solid;
    border-width: 0px 0px 4px 6px;
    border-color:#412F2D;
    width: 30%;
    margin-top: 150px;
    background-color: #F0D3A7;
    text-align: left;
    max-height: fit-content;
    overflow: hidden;
}

.service-div h2{
    font-size: 1.2rem;
    color: #412F2D;
    text-align: left;
    padding-left: 15px;
}

.chart{
    color: #EB734A;
    font-size: 7rem;
    justify-content: center;
    text-align: left;
}

.service-div p{
    color: #412F2D;
    font-size: .9rem;
    margin-left: 15px;
    overflow: hidden; /* Hide overflowing content */

}

}
@media only screen and (max-width: 480px) {
    .service-container{
        margin-top: 30px;
        display: block;
        color: white;
        text-align: right;
        padding-right: 50px;  
        background-color: transparent;
    }
    .left-image-div img{
        z-index: 1;
        position: fixed;
        left: 0;
        bottom: 0;    
        width: 200px;   
    }
    
    .right-image-div img{
        display: none;
    }
    .first-div {
        width: 100%;
        border-style: none;
        background-color: none;
    }

    .service-container hr{
        margin-left: 200px;        
        }
    .second-div{
        width: 100%;
        border-style: none;
        background-color: none;
    }
    .final-div {
        width: 100%;
        border-style: none;
        background-color: none;
    }
    .button-div button{
        display: none;
    }
}
